ion-content{
    --ion-background-color:rgb(0, 0, 0);
}
.new-background-color{
    --background: #000000;
    --color: #ffffff;
  }
  .new-background-color-alerta{
    --background: red;
    --color: #ffffff;
  }
  .contenedor-responsivo {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
  .iframe-responsivo {
    position: absolute;
    top: -13%;
    left: 0;
    width: 100%;
    height: 119%;
    border: 0;
  }
  .fondo_noticias{
    background: url('/assets/Grupo_p402@2x.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
  }

  //Loader
  .all{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    background:transparent;
    position: fixed;
  }
  @media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 800px ) and (max-width: 1280px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 768px ) and (max-width: 1024px ) {
    .all{
      padding-top: 29%;     
    }
  } 
  
  @media only screen and (min-width: 767px) and (max-width: 940px) {
    .all{
      padding-top: 40%;     
    }
  } 
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .all{
      padding-top: 78%;     
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 259px) {
    .all{
      padding-top: 98%;     
    }
    .carg{
        width: 25%;
        margin: auto;
        text-align: center;
        font-size: 5px;
    }
  }
  .carg{
    width: 35%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
  .cargando{
    border: 1.5px solid #CCC; 
    border-top: 2px;
    border-top-color: transparent;
    border-top-style: solid;
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 278px;
    animation:girar 1.0s linear infinite;
    -o-animation:girar 1.0s linear infinite;
    -webkit-animation:girar 1.0s linear infinite;
  }
  @keyframes girar{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
  }
  //Alerta
  .principal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    position: fixed;
    border: 1px solid red;
   // z-index: 1;
  }
#alerta{
    color: #FFF;
    text-align: center;
    // margin: 95vh auto;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#alerta a{
    border-radius: 5px;
    padding: 10px;
    font-size:20px;
    font-weight: bold; 
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    #alerta{
        margin-top: 20%;
    }
}
@media only screen and (min-width: 100px) and (max-width: 767px){
  #alerta{
    margin-top: 20%;
  }
}
