<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <!--<div text-center class="text">-->
        <img src="assets/Grupo 4@2x.png" alt="" (click)="home()" style="width: 16%; height: 16%; margin-left: 35%;"/>
      <!--</div>-->
    </ion-title>
  </ion-toolbar>
</ion-header>
              <!--class="contenedor-responsivo"-->
<ion-content class="contenedor-responsivo" style="background-color: black;">
    <iframe class="iframe-responsivo " [src]='ruta_notificacion'></iframe> <!--iframe-responsivo         [src]='ruta_notificacion'-->
</ion-content>
