ion-content{
    --ion-background-color:rgb(0, 0, 0);
}
.regist{
  //--background: url('/assets/Grupo_p402@2x.png') no-repeat 100% 100%;
  background: url('/assets/Grupo_p402@2x.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}
.new-background-color{
    --background: #000000;
    --color: #ffffff;
  }

#tamanio_video { 
  display:block; 
}
@media only screen and (orientation:portrait){
  #tamanio_video { 
    margin-top: 29%;  //35
    width: 500px;
    //margin-left: -52%;
    height: 310px;
    padding-bottom: -30px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
       }
}
@media only screen and (orientation:landscape){
  #tamanio_video { 
    margin-top: -5%;
    width: 800px;
    margin-left: -10%;
    height: 350px; 
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
       }
}

.iframe-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.iframe-16-9  iframe {
  position: absolute;
  top:0;
  left: 10%;
  width: 100%;
  height: 100%;
}

.conten{ 
  width:100%;
  //height:auto;
  height: 100%;
}

/*.conten { 
  display:block; 
}*/

/*@media only screen and (orientation:portrait){
  .conten { 
    height: 100%;
    width: 100%;
       }
}*/

@media only screen and (orientation:portrait){
  .conten { 
    margin-top: 29%;  //35
    width: 800px;
    margin-left: -42%;
    height: 460px;
    padding-bottom: -30px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
       }
}

@media only screen and (orientation:portrait){
  .btn_reg { 
    width: 16%; 
    height: 8%; 
    margin-left: 1%; 
    float: none; 
    position: relative; 
    background-color: #36BC29; 
    border-radius: 4px !important; 
    position:relative; 
    bottom:0; 
    left:0; 
    position:absolute; 
  }
}

@media only screen and (orientation:landscape){
  .btn_reg { 
    width: 10%; 
    height: 12%;
    margin-left: 1%; 
    float: none; 
    position: relative; 
    background-color: #36BC29; 
    border-radius: 4px !important; 
    position:relative; 
    bottom:0; 
    left:0; 
    position:absolute; 
  }
}
.all{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  background:transparent;
  position: fixed;
}
@media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 800px ) and (max-width: 1280px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 768px ) and (max-width: 1024px ) {
  .all{
    padding-top: 29%;     
  }
} 

@media only screen and (min-width: 767px) and (max-width: 940px) {
  .all{
    padding-top: 40%;     
  }
} 
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .all{
    padding-top: 78%;     
  }
}
@media only screen and (min-width: 200px) and (max-width: 259px) {
  .all{
    padding-top: 98%;     
  }
  .carg{
      width: 25%;
      margin: auto;
      text-align: center;
      font-size: 5px;
  }
}
.carg{
  width: 35%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.cargando{
  border: 1.5px solid #CCC; 
  border-top: 2px;
  border-top-color: black;
  border-top-style: solid;
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 278px;
  animation:girar 1.0s linear infinite;
  -o-animation:girar 1.0s linear infinite;
  -webkit-animation:girar 1.0s linear infinite;
}
@keyframes girar{
from{ transform: rotate(0deg); }
to{ transform: rotate(360deg); }
}