
<ion-content>   
  <!--<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x3rdtfy?autoplay=1" allowfullscreen allow="autoplay"</iframe>-->
  <iframe class="conten" [src]='ruta_video' frameborder="0" marginwidth="0" marginheight="0"></iframe>
<div class="btn_reg">
  <img (click)="home()" src="/assets/return.svg" style="width: 25px; margin-left: 18px; margin-top: 10px;"/>
</div>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: white;">{{texto}}</p>
    <div class="cargando"></div>
  </div>
</div>
